# WhatsApp Integration
NEXT_PUBLIC_WHATSAPP_NUMBER=6285385069717

# Contact Form Receiver
CONTACT_RECEIVER_EMAIL=[MASUKKAN EMAIL]
RESEND_API_KEY=

# Base URL for SEO & Canonical Links
NEXT_PUBLIC_SITE_URL=http://localhost:3000
